.App {
  background-color: #070031;
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(15px + 2vmin);
  color: white;
  font-family: Inter;
  font-weight: bold;
}
.DesignedBy{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(25px + 4vmin);
  margin-left: 5.1em;
  margin-top: 5em;
  margin-bottom: 0em
}

.Studentsd{
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(25px + 4vmin);
  margin-left: 5.1em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 20em;
}
.For{
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(25px + 4vmin);
  margin-left: 19.9em;
  margin-bottom: 0px;
  margin-right: 5.1em;
}
.Studentsf{
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(25px + 4vmin);
  margin-left: 19.9em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 5.1em;
}
.Nav{
  background-color: #070031;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: Jura;
  color: #A2BCFF;
  position: fixed;
}
.Icon{
  text-decoration: none;
  width: calc(150px + 2vmin);
  font-family: Jura;
  color: #A2BCFF;
  margin-left: 0.5em;
}
.Island{
  display : flex;
  gap : 0.7em;
  
}
.LoginSignupButton{
    display: flex;
    gap:0.7em;
    margin-right: 1em ;
    z-index: 0;
}
.SplashPageNavButtonStyle{
  background-color: #afc1fb;
  color: black;
  border: none;
  border-radius: 1em;
  padding: 1em 1em 1em;
  font-size: calc(1.6px + 1.6vmin);
  font-family: Jura;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 5px #afc1fb, 0 0 5px #afc1fb, 0 0 10px #afc1fb;
  transition: all 0.3s ease-in-out;
}
.SplashPageNavButtonStyle:hover{
  box-shadow: 0 0 7.5px #afc1fb, 0 0 7.5px #afc1fb, 0 0 15px #afc1fb;
  transform: scale(1.1);
}


