.App {
  background-color: #070031;
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(15px + 2vmin);
  color: white;
  font-family: Inter;
  font-weight: bold;
}
.DesignedBy{
  font-size: calc(25px + 4vmin);
  margin-left: 190px;
  margin-top: 250px;
  margin-bottom: 0px
}
.Students{
  font-size: calc(25px + 4vmin);
  margin-left: 190px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.Nav{
  background-color: #070031;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: Jura;
  color: #A2BCFF;
  position: fixed;
}
.Icon{
  text-decoration: none;
  width: calc(150px + 2vmin);
  font-family: Jura;
  color: #A2BCFF;
  margin-left: 20px;
}
.Island{
  display : flex;
  gap : 15px;
  
}
.LoginSignupButton{
    display: flex;
    gap: 15px;
    margin-right: 20px ;
}
.SplashPageNavButtonStyle{
  background-color: #afc1fb;
  border: 7px solid rgb(255, 255, 255);
  color: black;
  border: none;
  border-radius: 15px;
  padding: 1em 1em 1em;
  font-size: calc(1.6px + 1.6vmin);
  font-family: Jura;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 5px #afc1fb, 0 0 5px #afc1fb, 0 0 10px #afc1fb;
  transition: all 0.3s ease-in-out;
}
.SplashPageNavButtonStyle:hover{
  box-shadow: 0 0 7.5px #afc1fb, 0 0 7.5px #afc1fb, 0 0 15px #afc1fb;
  padding: 1em 2em 1em;
  font-size: calc(2px + 1.6vmin);
}


