.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #070031;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Nav{
  background-color: #070031;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: Jura;
  color: #A2BCFF;
}
.Icon{
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  font-family: Jura;
  color: #A2BCFF;
  margin-left: 20px;
}
.LoginSignupButton{
    display: flex;
    gap: 15px;
    margin-right: 20px ;
}
.LoginSignupStyle{
  background-color: #AFC1FB;
  color: #2360FF;
  border: none;
  border-radius: 15px;
  padding: 1em 1em 1em;
  font-size: calc(1.6px + 1.6vmin);
  font-family: Jura;
  cursor: pointer;
}


