.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #070031;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Nav{
  background-color: #070031;
  z-index: 10;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Jura;
  color: #A2BCFF;
}
.Icon{
  text-decoration: none;
  margin-left: 10px;
  font-size: calc(10px + 2vmin);
  font-family: Jura;
  color: #A2BCFF;
}


